<aside class="docs-sidebar">
    <div class="docs-brand">
        <a href="/" class="docs-brand">
            <img src="{% asset('assets/images/SigmaPHP-Logo.png') %}" alt="SigmaPHP">
            <span>SigmaPHP</span>
        </a>
    </div>

    <div class="version-selector">
        <label for="version">Version:</label>
        <select id="version">
            {% for $version in $versions %}
                <option value="{{ $version->name }}"
                    {% if ($version == config('framework_version')) %}selected{% end_if %}
                    >{{ $version->name }}</option>
            {% end_for %}
        </select>
    </div>

    <form id="docs-search-form" action="/docs/{{ config('app.framework_version') }}/search" method="GET" role="search">
         <div class="docs-search-wrapper">
            <input type="text" class="docs-search" id="docs-search" name="keyword" placeholder="Search docs..." aria-label="Search documentation"/>
            <button type="submit" class="search-btn" id="search-btn" title="Search" aria-label="Search">
                <i class="bi bi-search"></i>
            </button>
        </div>
    </form>

    <nav class="docs-nav">
        {% for $category in $hierarchy %}
            <div class="nav-group">
                {% if ($category->parent_id == 0) %}
                    <a href="javascript:void(0)" class="nav-toggle">{{ $category->name }}</a>
                {% else %}
                    <div class="nav-sub">
                        <a href="/docs/{{ config('app.framework_version') }}/{{ $category->urlName() }}">{{ $category->name }}</a>
                    </div>
                {% end_if %}
            </div>
        {% end_for %}
    </nav>

</aside>
