{% extend 'layout/docs_base' %}

{% block 'content' %}

<h1>Search Results</h1>

{% if (empty($searchResults)) %}
    <p>No results were found !</p>
{% else %}
    {% for $searchResult in $searchResults %}
        <a href="/docs/{{ $version . '/' . $searchResult['slug'] }}"><h2>{{ $searchResult['title'] }}</h2></a>
        <p>{{ strip_tags($searchResult['description']) }}...</p>
    {% end_for %}
{% end_if %}

<!-- Back To Top -->
<div class="back-to-top" id="back-to-top">
    <span class="arrow">↑</span>
    <span>Back to top</span>
</div>

{% end_block %}
