{% extend 'layout/docs_base' %}

{% define $title = "Search Results" %}
{% define $description = "SigmaPHP is a modern, lightweight PHP framework designed for clarity, performance, and full developer control. Built for engineers who value simplicity, clean architecture, and zero magic." %}
{% define $keywords = "SigmaPHP, PHP framework, lightweight PHP framework, modern PHP framework, clean architecture PHP, simple PHP framework, high performance PHP, developer control PHP framework, minimal PHP framework, MVC PHP framework, backend PHP framework, zero magic framework" %}

{% block 'content' %}

<h1>Search Results</h1>

{% if (empty($searchResults)) %}
    <p>No results were found !</p>
{% else %}
    {% for $searchResult in $searchResults %}
        <a href="/docs/{{ $version . '/' . $searchResult['slug'] }}"><h2>{{ $searchResult['title'] }}</h2></a>
        <p>{{ strip_tags($searchResult['description']) }}...</p>
    {% end_for %}
{% end_if %}

<!-- Back To Top -->
<div class="back-to-top" id="back-to-top">
    <span class="arrow">↑</span>
    <span>Back to top</span>
</div>

{% end_block %}
